 
.level1, .level2{
    text-align: left;
}

.level1 h1, .level2 h2{
    text-transform: unset;
}

.reveal .controls button, .reveal .progress {
    color: #266dd3;
}

.reveal h1 {
    font-size: 1.6em;
}

mjx-container[jax="CHTML"][display="true"]{
    overflow: auto;
}

.slides .title {
    text-transform: capitalize;
}

.slides .author {
    display: inline-block;
    font-weight: 600;
    background: linear-gradient(#fff 60%, #00d463 40%);
}