:root {
    --header-bg-color: #f8f8f8;
    --menu-link-color: #414141;
    --first-bg-color: #0e6352;
    --first-color: white;
    --text-color: black;
    --snd-bg-color: #4B4587;
    --snd-color: white;
    --trd-bg-color: white;
    --trd-color: #414141;
    --footer-bg-color: #2f2f2f;
    --footer-color: #dddddd;
    --footer-link-color: #FFD6DB;
    --selection-bg-color: rgba(255, 194, 201, 0.996);
    --img-selection-bg-color: rgba(255, 194, 201, 0.5);
    --selection-color: black;
    --footer-contrast-color: white;
    --focus-darker-color: #bd505c;
    --focus-lighter-color: #FFC2C9; 
}



/** Common Properties **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (prefers-reduced-motion : no-preference){

    html {
        scroll-behavior: smooth;
    }
}

.site-header, .site-footer, .page-content {
    width: 100%;
}

body {
    font-size: 18px;
  }
  
h1 {
    font-size: 2.5em;
    font-family: 'Oregano', cursive;
    font-weight: 400;
}
  
h2 {
    font-size: 2.369em;
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
}

h1, h2 {
    text-align: center;
    line-height: 1.2;
}

p {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
}

img::selection{
    background-color: var(--img-selection-bg-color);
}

:focus{
    outline: 3px solid var(--focus-darker-color);
}


.btn:focus{
    outline: 4px solid var(--text-color);
}


.footer-link:focus {
    outline: 3px solid var(--focus-lighter-color);
}


/** Header **/

.site-header {
    background-color: var(--header-bg-color);
    padding: 15px 5%;
}

.header-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
}

.nav-links {
    list-style: none;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.25em;
    text-transform: uppercase;
    padding-top: 15px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.2em;
}

.menu-link, .menu-link:visited, .home-link, .home-link:visited {
    color: var(--menu-link-color);
    text-decoration: none;
}

.menu-link:hover, .home-link:hover{
    color: var(--text-color);
}

.home-link {
    padding-right: 20px;
}

/** Content **/

.spotlight-photo {
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
}

.btn {
    font-size: 1em;
    width: 100%;
    max-width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    color: var(--text-color);
    
    /* Material Design shadow */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    cursor: pointer;

    font-family: 'Noto Sans';
    border: 0;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #eeeceb;
    height: 56px;
}

.btn:hover {
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.icon {
    max-width: 1em;
}

.page-section {
    padding: 45px 5vw;
}

.fst {
    background-color: var(--first-bg-color);
    color: var(--first-color);
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.snd {
    background-color: var(--snd-bg-color);
    color: var(--snd-color);
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 50px;
}

.trd {
    background-color: var(--trd-bg-color);
    color: var(--trd-color);
    text-align: center;
}

.snd > h2 {
    padding-bottom: 15px;
}

.snd > p {
    max-width: 81ch;
    text-align: left;
    line-height: 1.45;
}

.card > p{
    text-align: left;
    line-height: 1.45;
}

.card-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: auto;
    margin-top: 50px;
    max-width: 1500px;
}

.card-image {
    margin-top: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 330px;
}



/** Footer **/

.site-footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-color);
    height: 150px;
    display: grid;
    place-items: center;
    padding: 0 5%;
    text-align: center;
}

.footer-link, .footer-link:visited {
    color: var(--footer-link-color);
}

.footer-link:hover {
    color: var(--footer-contrast-color);
}


/** Responsive Design Adjusts **/

@media only screen and (max-width: 642px) {
    .header-container{ flex-direction: column; align-items: center;}
}

@media only screen and (max-width: 399px){
    .nav-links { grid-template-columns: 1fr; gap: 1rem;}
    .menu-item { text-align: center; }
}
