#material {
  font-family: Monaco;
  margin-top: 3em;
}
#material ul {
  list-style: none; 
}

#material ul li{
  margin-bottom: 10px;
  font-size: 14px;
}

#material ul li .data {
  color: #ff8100;
  padding: 5px;
}

#material ul li a {
  color: gray;
  padding: 8px;
  text-decoration: none;
}

#material ul li a:hover {
  color: black;
  padding: 8px;
  text-decoration: underline;
  text-decoration-color: #ff8100
}

#material ul li::before {
  content: "\2022";  /* Muda o unicode do simbolo q vc quer */
  color: #ff8100; 
  font-weight: bold; 
  display: inline-block; 
  width: 1.2em;  
}

#material .avisos {
  background-color: #ffa700;
  padding: 3rem;
  -moz-box-shadow:     3px 5px 6px #ccc;
  -webkit-box-shadow:  3px 5px 6px #ccc;
  box-shadow:          3px 5px 6px #ccc;
}

#material h3 {
  font-size: 1.2em;
} 
