/** Variables **/

:root {
    --bg-color: #fff;
    --menu-link-color: #524261;
    --common-text-color: white;
    --bg-image-color-overlay: rgba(0, 0, 0, 0.65);
    --box-shadows-color: black;
    --home-content-text-color: white;
    --text-selection-bg-color: rgba(250, 219, 222, 0.7);
    --text-selection-bg-color-no-transparency: #F5B7BD;
    --text-selection-color: black;
    --button-bg-color: white;
    --button-color: #524261;
}

/** Reset **/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/** Common Properties **/

.page-container {
    background-image: url("../images/engagement.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: var(--bg-image-color-overlay);
    background-blend-mode: overlay;
    min-height: 100vh;
    padding-top: 20px;
    display: grid;
    place-items: center;
}

body {
    font-size: 18px;
}

a:focus {
    outline: 2px solid var(--box-shadows-color);
}

h1::selection, h2::selection, p::selection, time::selection, span::selection, img::selection{
    background-color: var(--text-selection-bg-color);
    color: var(--text-selection-color);
    text-shadow: none;
}

a::selection {
    background-color: var(--text-selection-bg-color-no-transparency);
    color: var(--text-selection-color);
    text-shadow: none;
}

h1 {
    font-size: 5.653em;
    font-weight: 400;
    font-family: 'Parisienne', cursive;
    text-shadow: 5px 5px 20px var(--box-shadows-color);
    color: var(--common-text-color);
    text-align: center;
}

/** Header **/

.site-header {
    background-color: var(--bg-color);
    width: 90%;
    max-width: 1366px;
    margin: auto;
    padding : 30px 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 5px;
}

.menu-links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.menu-link, .menu-link:visited {
    color : var(--menu-link-color);
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}

.menu-link:hover {
    text-decoration: underline;
}

/** Content (generic) **/

main {
    margin: auto;
    padding: 30px 20px;
    width: 90%;
    max-width: 1366px;
}


/** Footer **/

.site-footer {
    margin: auto;
    width: 90%;
    max-width: 1366px;
    text-align: center;
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    color: white;
    font-family: 'Raleway', sans-serif;
    flex-shrink: 0;
    font-size: 0.707em;
}

.footer-link, .footer-link:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/** Home Page specific **/

.home-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--home-content-text-color);
    text-align: center;
}

.fiance-names {
    font-size: 6em;
    font-family: 'Parisienne', cursive;
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-weight: 400;
    margin-top: 30px;
    line-height: 1.2;
}

.home-page-content > h2 {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 3.998em;
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-bottom: 50px;
    text-align: center;
}

.wedding-data {
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
}

.separator {
    padding: 0 1ch;
}

.link-btn, .link-btn:visited {
    text-decoration: none;
    color: var(--button-color);
    background-color: var(--button-bg-color);
    padding: 20px;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin-top: 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
}

.link-btn:hover {
    text-decoration: underline;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/** 'Nossa Historia' specific **/

.historia-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--common-text-color);
    font-family: 'Raleway', sans-serif;
}

.history-title, .photo-gallery-title {
    font-size: 2em;
    font-weight: 400;
    text-shadow: 5px 5px 20px var(--box-shadows-color);
    text-align: center;
}

.history-title {
    margin-bottom: 15px;
}

.couple-history-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 60px;
    margin-bottom: 80px;
}

.history-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-card > p {
    background-color: var(--bg-image-color-overlay);
    padding: 10px 20px;
}

.history-image {
    margin-bottom: 20px;
    border: 2px solid var(--common-text-color);
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.photo-gallery {
    list-style: none;
    margin-top: 45px;
    display: grid;
    gap: 1.5rem;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1366px;
}

.photo {
    width: 100%;
    max-width: 400px;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
}

/** Responsiveness adjustments **/

@media only screen and (max-width: 620px) {
    .menu-links {grid-template-columns: 1fr; gap: 1rem;}
    .fiance-names, h1 {font-size: 5em;}
    .home-page-content > h2 {font-size: 3.5em;}
    .photo-gallery {grid-template-columns: 1fr; gap: 1rem;}
}