/** Welcome to My Personal Page's Stylesheet
    Feel free to inspire yourself and copy anything
    on my design, just give me the credits =) **/

:root {
    --text-color: #242833;
    --selection-background-color: #ffd6abfd;
    --transparent-background-color: #ffd6ab8c;
    --title-decoration-color: #ffae7d;
    --dot-margin-color: #242833;
    --link-color: #3F4F78;
    --alt-link-color: #2e3b6e;
    --link-selection-color: #bdc7dcfd;
    --fst-heading-color: black;
    --abbr-symbol-color: #FF5C64;
    --abbr-focus-color: #fdd1d3;

    --heading-color: #fff;
    --nav-bg-color: #4897d8;
    --box-blocked-color: #FFCCC2;
    --box-available-color: #B8CCF4;
    --box-completed-color: #A8F0EB;
    --box-font-color: #fff;
    --instructions-bg-color: #f8a055;
    --credit-info-border-color: #f8a055;

    --primary-color: #f8a45e;
    --light-color: #fac08e;
    --font-color: #333333;
    
    --light-pink: #FFE0E0;
}

/** Resets **/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** Local Fonts **/

/* Hurme No 4 — Obtained in FreeFonts.io */

@font-face {
    font-family: 'Hurme';
    src: url('/assets/fonts/Hurmes/HurmeGeometricSans4\ Bold.otf') format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Hurme';
    src: url('/assets/fonts/Hurmes/HurmeGeometricSans4.otf') format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Hurme';
    src: url('/assets/fonts/Hurmes/HurmeGeometricSans4\ SemiBold.otf') format("opentype");
    font-style: normal;
    font-weight: 600;
}

/** Common Properties **/

body {
    font-size: 18px;
    color: var(--text-color);
}

.body-layout {
    display: flex;
    flex-direction: row-reverse;
 /* gap: 8px; Won’t work in Safari, see footer margin */
    width: 98%;
    max-width: 900px;
    align-items: center;
    margin: 30px auto;
}

.body-layout.grade-dinamica {
    flex-direction: column;
    max-width: 1300px;
    margin: 10px auto;
}

h1, h2, h3 {
    font-family: 'Hurme', sans-serif;
    font-weight: 700;
}

h1 { 
    font-size: 3.052em;
    display: inline-block;
    color: var(--fst-heading-color);
}

h1::after {
    content: "";
    border-bottom: solid 15px var(--title-decoration-color);
    position: relative;
    bottom: 30px;
    display: block;
    z-index: -1;
}

h2 {
    font-size: 2.441em;
    margin-top: 0.6em;
}

p {
    font-family: 'Source Serif Pro', serif;
    line-height: 1.5;
}

em, .menu, .social-links {
    font-family: 'Hurme', sans-serif;
    font-size: 1.1em;
}

.page-container {
    max-width: 900px;
    width: 100%;
    padding: 30px 10px;
    padding-left: 40px;
    border-left: 3px dotted var(--dot-margin-color);
}

.page-container.grade-dinamica {
    border-left: none;
    border-bottom: 3px dotted var(--dot-margin-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    max-width: 1300px;
}

::selection {
    background-color: var(--selection-background-color);
    color: black;
}

img::selection {
    background-color: var(--transparent-background-color);
}

a::selection {
    background-color: var(--link-selection-color);
    text-decoration: none;
}

a, a:visited {
    color: var(--link-color);
}

a:focus {
    background-color: var(--alt-link-color);
    color: white;
    text-decoration: none;
    box-shadow: 0 0 0 3px var(--alt-link-color);
    outline: none;
}

.skip-nav {
    position: absolute;
    left: -250px;
    font-size: 1.3em;
    padding: 10px 20px;
    padding-left: 30px;
    outline: none;
    font-family: 'Hurme', sans-serif;
    font-weight: 700;
}

.skip-nav:focus {
    left: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.menu, .social-links {
    display: flex;
    align-content: space-evenly;
    list-style: none;
    text-transform: lowercase;
    line-height: 1.7;
}

.menu > li, .social-links > li {
    margin-right: 15px;
}

.menu {
    margin: 16pt 0;
}

em {
    font-style: normal;
    font-feature-settings: 'c2sc', 'smcp';
    letter-spacing: 0.05em;
}

footer {
    writing-mode: vertical-rl;
    font-size: 0.75em;
    transform: rotate(180deg);
    margin: 0 8px 0 0;
}

footer.grade-dinamica {
    writing-mode: horizontal-tb;
    transform: rotate(0);
}

/** Home Page **/

.hang-punct {
    text-indent: -0.41em;
}

.lara-quote {
    margin-top: 12px;
}

.profile-photo {
    width: 200px;
    border-radius: 5px;
}

.about-me-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1.5rem;
    row-gap: 0;
    width: 100%;
}

.social-links {
    grid-column: 2;
}

/** Portfolio Page **/

.projects-list {
    margin-top: 15px;
    max-width: 700px;
}

.projects-list > li {
    display: grid;
    gap: 1rem;
    grid-template-columns: 200px 1fr;
    margin-bottom: 15px;
}

.projects-list > li > h2 {
    text-align: right;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 0;
}

/** Tutoring Page **/
.files-list{

    margin-top: 0.5em;
    list-style-type: none;
    font-family: 'Source Serif Pro', serif;
    line-height: 1.8;
}

/** Grade Dinamica **/
select {
    border: none;
    padding: 0.33em;
    font-family: 'Source Serif Pro', serif;
    font-size: 1em;
    background-color: var(--transparent-background-color);
}

.course-select {
    font-family: 'Source Serif Pro', serif;
    line-height: 1.7;
}

p.credits {
    line-height: 1.7;
    vertical-align: middle;
}

.navbar-select-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
    align-items: center;
}

.navbar-select-group .menu {
    margin: 0;
}

.curriculum {
    overflow: auto;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-flow: row;
    justify-content: start;
    margin: 2em auto;
}

.curriculum p {
    font-family: 'Source Sans 3', serif;
}

.curriculum h2 {
    font-size: 0.74em;
    font-weight: normal;
    font-family: 'Source Sans 3', sans-serif;
}

.curriculum-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-left: 0.5em;

}

.curriculum-column:first-of-type{
    padding-left: 0;
}

.credit-info {
    width: fit-content;
    display: flex;
    padding: .5em;
    margin-top: 2em;
}

.credit-info-text {
    text-align: center;
}

.credit-info-text #credit-sum {
    background-color: white;
    padding: 0 .5em;
}

.course {
    width: 100%;
    min-width: 100px;
    max-width: 130px;
    height: 110px;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 5px;
    font-family: 'Source Sans 3', sans-serif;
}

.course:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 8px 8px rgba(0,0,0,0.19);
}

.course.blocked {
    cursor: not-allowed;
    background-color: var(--box-blocked-color);
}

.course.available {
    cursor: pointer;
    background-color: var(--box-available-color);
}

.course.completed {
    cursor: pointer;
    background-color: var(--box-completed-color);
}

.course-title, .course-credits, .course-code {
    font-size: 0.8rem;
    text-align: center;
}

.course-code {
    /* background-color: white; */
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.course-title {
    padding: 0 5px;
    color: black;
    max-height: 50px;
}

.course-title.small {
    font-size: 0.6em;
}

.course-credits {
    background-color: white;
    color: var(--text-color);
    margin: 0 2em;
}

header.grade-dinamica {
    max-width: 900px;
    margin: auto;
}

p.justify {
    text-align: justify;
    hyphens: auto;
}

/** Acessibility adjustments (media queries) **/

@media only screen and (prefers-reduced-motion: no-preference){
    
    html {
        scroll-behavior: smooth;
    }
}


/** Responsiveness Adjustments **/

@media only screen and (max-width: 660px){
    .about-me-container {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .profile-photo {
        margin-bottom: 1.5rem;
    }

    h1::after {
        border: none;
    }

    .social-links {
        flex-wrap: wrap;
        margin-top: 1.5rem;
    }

    footer {
        writing-mode: horizontal-tb;
        transform: none;
        margin: 16px 0 0 0;
    }

    .body-layout{
        flex-direction: column;
     /* gap: 20px; Won‘t work in Safari */
    }

    .projects-list > li {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .projects-list > li > h3 {
        text-align: left;
    }

    abbr[title]:focus::after {
        white-space: normal;
    }

    .files-list{
        list-style-position: outside;
        list-style-type: disc;
    }
}
